{% extends "/base.html.twig" %}
{% block title %}Changer mon mot de passe{% endblock %}
{% block template %}
    <div class="row peach-gradient full-height">
        <div class="col-12 inner-height">
            <div class="row justify-content-center align-items-center">
                <div class="col-6 mt-auto">
                    <form class="border border-light p-5 rgba-white-strong" action="" method="POST">
                        <div class="row">
                            <div class="col-12 text-center">
                                <p class="h4 mt-5">
                                    Saisir votre mot de passe
                                </p>
                            </div>
                            <div class="col-12">
                                {{ form_row(form.plainPassword) }}
                            </div>
                            <div class="col-12">
                                {{ form_row(form.save) }}
                                {{ form_row(form._token) }}
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
