{% extends "/MinimalLoggedBase.html.twig" %}

{% block main %}
        <div class="col-12 full-height">
            <div class="row inner-height">
                <div class="col-md-2 animated displayed peach-gradient border-right border-dark z-depth-2" id="side-nav">
                    <div id="slide-out" class="side-nav side">
                        <!-- Links -->
                        <div class="row justify-content-center">
                            <div class="col-6 account-section align-bottom">
                                <img class="rounded-circle z-depth-2 img-fluid" alt="100x100" src="https://mdbootstrap.com/img/Photos/Avatars/img%20(31).jpg"
                                     data-holder-rendered="true">
                            </div>
                            <div class="col-12 mt-2 text-center">
                                <a href="{{ path('user_me') }}">
                                    <span>
                                        {{ app.user.givenName }} {{ app.user.familyName|upper }}
                                    </span>
                                </a>
                            </div>
                        </div>
                        <hr class="my-1">
                        {%- include 'menu.html.twig' -%}
                        <!-- Links -->
                    </div>
                </div>
                <div class="col-md-10 p-5 rgba-grey-slight" id="main-content">
                    {% block body %}
                    {% endblock %}
                </div>
            </div>
        </div>
{% endblock %}
