{% extends "/base.html.twig" %}

{% block template %}
    <div class="row">
        <div class="col-12 border-bottom border-dark z-depth-2" id="nav-bar">
            <div class="row">
                <div class="col-2 text-center">
                    <a href="#"
                       id="side-nav-control"
                       data-activates="slide-out"
                       class="btn button-collapse">
                        <i class="fas fa-bars"></i>
                    </a>
                </div>
                <div class="col-10">
                    <a href="{{ path('main_home') }}" class="text-dark"><h1 class="align-top mt-1 mb-0">Geek-Event</h1></a>
                </div>
            </div>
        </div>
        {% block main %}
            <div class="col-12">
                <div class="row">
                    <div class="col-6">
                        <a class="btn btn-lg btn-info" href="{{ path(back_route) }}"><i class="fa fa-arrow-left"></i></a>
                    </div>
                </div>
            </div>
        {% endblock %}
    </div>
{% endblock %}
